aside.aside
    ul.aside-list
        li.aside-item
            h4.aside-title About  BLitz
            img.line-img(src="assets/images/footer-line.png" alt="линия")
            .aside-shrt-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            |Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. 
                            |Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. 
        li.aside-item
            h4.aside-title categories
            img.line-img(src="assets/images/footer-line.png" alt="линия")
            .aside-shrt-text
                ul.aside-shrt-text--list
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") video(4)
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") sports(8)
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") media(11)
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") entertament(3)
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") life(6)  
                    li.aside-shrt-text--item 
                        a.aside-shrt-text--link(href="#") Super Cool Stuff(6)    
        li.aside-item
            h4.aside-title Twitter Widget
            img.line-img(src="assets/images/footer-line.png" alt="линия")
            .aside-shrt-text.style-twett 
                a(href="#").aside-link--twitter
                    span.aside-link--twitter-span @
                    |pixelmater
                |What an awesome design with great functionality :)
                .aside-shrt-text--add-twett about 1 hour ago
            .aside-shrt-text.style-twett 
                a(href="#").aside-link--twitter 
                    span.aside-link--twitter-span @
                    |designdude
                |What an awesome design with great functionality :)
                .aside-shrt-text--add-twett about 2 hour ago
            .aside-shrt-text.style-twett Follow 
                    a(href="#").aside-link--twitter 
                    span.aside-link--twitter-span @
                    |bestpsdfreebies
.blog-right--icon