footer.footer
    img.footer-top-img(src="assets/images/footer-line.png" alt="картинка")
    .container
        .row.footer-content-style
            .col-sm
                .footer-text--left All Content Copyright 2012 - Blitz. All Rights Reserved
            .col-sm
                .footer-text--right Site Developed by Best PSD Freebies